
JWebServer 1.0.zip 
Scripts/*
__pycache__
__pycache__/*
config/*
!config/__init__.py

JWebServer/__pycache__
JWebServer/RequestParser/__pycache__
JWebServer/__pycache__/*
JWebServer/RequestParser/__pycache__/*

Templates
Templates/*

.idea
.idea/*
/.idea/*
.idea/workspace/*